<div id="podcast_show"> 

	<div id="show_banner">
	    <div class="wrapper_skinny">
	      <h1>The Rocketship Podcast Dashboard</h1>
	    </div>
	</div>



  <div id="links">
    <div class="wrapper_skinny">
      <ul>
        <li><%= link_to "Episodes", root_path %></li>
        <li><%= link_to "New Episode", new_user_episode_path(@user)%></li>
        <li><%= link_to "Account Settings", edit_user_registration_path %></li>
        <li><%= link_to "View User", user_path(current_user)%></li>
      </ul>
    </div>
  </div>
 </div>


<div id="form">
	<div class="wrapper_skinny">
		<%= render 'form' %>
	</div>
</div>