<!DOCTYPE html>
<html>
<head>
  <title>Podcast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
	<p class="notice">
		<%= notice %>
	</p>
<% elsif alert %>
<p class="alert">
	<%= alert %>
</p>
<% end %>

<header id = "main_header" class = cf >
	<div class ="wrapper_wide">
	<%= link_to "Podacst", root_path, id: "logo" %>
		<nav>
			<ul>
				<% unless user_signed_in? %>
					<li><%= link_to "Explore", users_path %></li>
					<li><%= link_to "Sign In", new_user_session_path %></li>
					<li><%= link_to "Create a Podcast", new_user_registration_path %></li>
					<% else %>
					<li><%= link_to "Dashboard", root_path %></li>
					<li><%= link_to "Explore", users_path %></li>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>

<%= yield %>

</body>
</html>
